#!/bin/sh
LXC_CAPABILITY="sys_admin net_raw net_admin setuid setgid sys_time"
LXC_CONSOLE_ENABLE=y
LXC_DEV_MCE_ENABLE=y
LXC_DEV_OTP_ENABLE=y
LXC_DEV_PM_ENABLE=y
LXC_DEV_PNG_ENABLE=y
LXC_DEV_JPEG_ENABLE=y
LXC_DEV_PQ_ENABLE=y
LXC_DEV_TDE_ENABLE=y
LXC_DEV_WATCHDOG_ENABLE=y
LXC_DEV_FUSE_ENABLE=y
LXC_DEV_AUDIO_ENABLE=y
LXC_DEV_CA_ENABLE=y
LXC_DEV_CIPHER_ENABLE=y
LXC_DEV_DEMUX_ENABLE=y
LXC_DEV_GPIO_ENABLE=y
LXC_DEV_I2C_ENABLE=y
LXC_DEV_IR_ENABLE=y
LXC_DEV_KEYLED_ENABLE=y
LXC_DEV_LOG_ENABLE=y
LXC_DEV_PVR_ENABLE=y
LXC_DEV_SCI_ENABLE=y
LXC_DEV_TUNER_ENABLE=y
LXC_DEV_PROC_ENABLE=y
LXC_DEV_VDEC_ENABLE=y
LXC_DEV_VO_ENABLE=y
LXC_DEV_USB_ENABLE=y
LXC_DEV_ETHERNET_ENABLE=y
LXC_DEV_BINDER=n
LXC_DEV_TTYAMA0_ENABLE=y
LXC_DEV_HI_CA_ENABLE=y
LXC_DEV_MODULE_ENABLE=y
LXC_DEV_HI_CERT_ENABLE=y
LXC_FIREWALL_ENABLE=y
LXC_TEEC_ENABLE=y
LXC_HIGO_ENABLE=y
LXC_HIPLAYER_ENABLE=n
