
#For CAK and Main LXC, owner=root
KERNEL=="null",MODE="0666",OWNER="root",GROUP="gstb"
KERNEL=="zero",MODE="0666",OWNER="root",GROUP="gstb"
KERNEL=="urandom",MODE="0660",OWNER="root",GROUP="gstb"

#For Main LXC
KERNEL=="watchdog*",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_adec",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_adsp",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_aenc",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_ao",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_disp",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_gpio",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_hdmi",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_i2c",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_ir",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_keyled",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_mce",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_pdm",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_pm",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_png",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_pq",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_pvr",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_sync",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_tde",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_tuner",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_vdec",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_vi",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_vo",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="hi_vpss",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="mmz_userdev",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="fb*",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="jpeg",MODE="0660",OWNER="main",GROUP="gmain"
KERNEL=="mmcblk*",MODE="0660",OWNER="main",GROUP="gmain"
DRIVERS=="usb-storage",MODE="0660",OWNER="main",GROUP="gmain"
SUBSYSTEM=="block",MODE="0660",OWNER="main",GROUP="gmain"
SUBSYSTEM=="mtd",MODE="0440",OWNER="main",GROUP="gmain"
DEVPATH=="/power/state",MODE="0660",OWNER="main",GROUP="gmain"

#For CAK and Main LXC, owner=main
KERNEL=="hi_ca",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_cipher",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_demux",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_log",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_module",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_otp",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_plcipher",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_sci",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_stat",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_sys",MODE="0660",OWNER="main",GROUP="gstb"
KERNEL=="hi_userproc",MODE="0660",OWNER="main",GROUP="gstb"

KERNEL=="mqueque",MODE="0660",OWNER="stb",GROUP="gstb"

SUBSYSTEM=="mtd",MODE="0660",OWNER="main",GROUP="gmain"
SUBSYSTEM=="block",KERNEL=="mtdblock*",MODE="0660",OWNER="main",GROUP="gstb"

#for CAK LXC
KERNEL=="hi_cert",MODE="0660",OWNER="cak",GROUP="gcak"

