[ConfigName]
ConfigName=hi3716mv43dmb_hi3716mv430_DDR3-Embedded_NA_16bitx1_2layers.config
[DdrParamters]
DDRCapacity=NA
DDRSpreadSpectrum=+-0.5%
PCBLayer=2layers
[MacName]
MAC0=FE_PHY
[PhyAddress]
MAC0=2
[GpioGroupNum]
MAC0=255
[GpioBits]
MAC0=255
[Startup]
Startup=nand
[spi]
ioshare_0=SF_WPN_IO2
ioshare_1=SF_SDI_IO1
ioshare_2=SF_CSN
ioshare_3=SF_HOLDN_IO3
ioshare_4=SF_CLK
ioshare_5=SF_SDO_IO0
ioshare_6=NF_DQ7
ioshare_7=NF_DQ6
ioshare_8=NF_DQ5
ioshare_9=NF_DQ4
ioshare_10=NF_DQ3
ioshare_11=NF_DQ2
ioshare_12=NF_DQ1
ioshare_13=NF_DQ0
ioshare_14=NF_RDY
ioshare_15=NF_CSN
ioshare_16=NF_REN
ioshare_17=NF_CLE
ioshare_18=NF_ALE
ioshare_19=NF_WEN
[nand]
ioshare_0=GPIO0_0
ioshare_1=GPIO0_1
ioshare_2=GPIO0_2
ioshare_3=GPIO0_3
ioshare_4=GPIO0_4
ioshare_5=GPIO0_5
ioshare_6=NF_DQ7
ioshare_7=NF_DQ6
ioshare_8=NF_DQ5
ioshare_9=NF_DQ4
ioshare_10=NF_DQ3
ioshare_11=NF_DQ2
ioshare_12=NF_DQ1
ioshare_13=NF_DQ0
ioshare_14=NF_RDY
ioshare_15=NF_CSN
ioshare_16=NF_REN
ioshare_17=NF_CLE
ioshare_18=NF_ALE
ioshare_19=NF_WEN
[pin_mux_drv]
ioshare_20=PMC_CORE0
ioshare_21=SIM0_PWREN
ioshare_22=SIM0_RST
ioshare_23=SIM0_DET
ioshare_24=SIM0_CLK
ioshare_25=SIM0_DATA
ioshare_26=TSI0_D3
ioshare_27=TSI0_D4
ioshare_28=TSI0_D5
ioshare_29=TSI0_D6
ioshare_30=TSI0_D7
ioshare_31=TSI0_CLK
ioshare_32=TSI0_VALID
ioshare_33=TSI0_SYNC
ioshare_34=TSI0_D0
ioshare_35=TSI0_D1
ioshare_36=TSI0_D2
ioshare_37=GPIO4_4
ioshare_38=DISEQC_OUT
ioshare_39=I2C1_SDA
ioshare_40=I2C1_SCL
ioshare_41=GPIO5_0
ioshare_42=QAM_AGC
ioshare_43=QAM_SDA
ioshare_44=QAM_SCL
ioshare_45=JTAG_SEL
ioshare_46=GPIO5_5
ioshare_47=GPIO5_6
ioshare_48=GPIO5_7
ioshare_64=TSO0_D0
ioshare_66=TSO0_D1
ioshare_68=TSO0_D2
ioshare_69=CI_WEN
ioshare_70=TSO0_D3
ioshare_72=TSO0_D4
ioshare_74=TSO0_D5
ioshare_75=TSO0_CLK
ioshare_76=TSO0_D6
ioshare_78=TSO0_D7
ioshare_81=CI_RST
ioshare_86=CI_REGN
ioshare_93=CI_CDN1
[fp_pin_mux_drv]
uart_rx_sel=UART0_RXD
uart_tx_sel=UART0_TXD
key_gpio_sel=LSADC1
data_gpio_sel=GPIO_AON0
clk_gpio_sel=GPIO_AON2
ir_gpio_sel=IR_IN
stb_gpio_sel=STB_PWROFF
stbn_gpio_sel=STB_PWROFF_N
rst_gpio_sel=GPIO_AON4
tuner_gpio_sel=CLK_TUNER_O
hdmitx_hotplug_sel=HDMITX_HOTPLUG
hdmitx_sda_sel=HDMITX_SDA
hdmitx_scl_sel=HDMITX_SCL
hdmitx_cec_sel=HDMITX_CEC
lsadc0_sel=LSADC0
s_led_data_ds=drv1_GPIO_AON0
s_stb_pwroff_n_ds=drv7_GPIO_AON3
s_gpio_aon5_ds=drv1_GPIO_AON5
s_clk_tuner_o_ds=drv1_clk_tuner_o
s_clk_tuner_o_sr=sr_clk_tuner_o_off
[GPIO]
GPIO5_6+pin_mux_drv+ioshare_47=High
